/..screenshot2024-0813_07-55-00-978981.png-19R9
/Click_Speed_Randomiser.py
/Crow_Identification.xml
/MousePosRec.py
/Mouse_Pos.py
/Picture_locater.py
/Timer_Tester
/WindMouseTest.py
/XML_maker_tool.py
/autoclk.py
/cleanup.py